:root {
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul { 
    list-style-position: inside;
    list-style-type: none;
}

ul li {
    display: flex;
    align-items: flex-start;
}

ul li::before {
    content: "•";
    font-size: 1.1rem;
    color: var(--clr-brown-800);
    display: inline-block;
    width: 1em;
    margin-right: 10px;
}

ul li, ol li {
    margin-block-end: 3px;
    color: var(--clr-stone-900);
    font-size: 0.85rem;
    font-weight: 400;
}

ol {
    list-style-position: outside;
    padding-inline-start: 15px;
}

ol li {
    line-height: 1.5;
    padding-inline-start: 15px;
}

ol li::marker {
    color: var(--clr-brown-800);
    font-weight: 600;
}

.divider {
    border: none;
    border-top: 1px solid var(--clr-stone-150);
}

.bold-highlight {
    font-weight: 600;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    padding-block: 2.5rem;
    background-color: var(--clr-stone-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.food__recipe {
    width: clamp(320px, 90vw, 700px);
    background-color: var(--clr-white);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.1);
    border-radius: 30px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-wrapper {
    width: 100%;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.card__title .food-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--clr-stone-900);
    margin-block-end: 10px;
}

.card__title .food-description {
    font-size: 0.8rem;
    color: var(--clr-stone-600);
}

.preparation-time-card {
    background-color: var(--clr-rose-50);
    padding: 20px;
    border-radius: 15px;
}

.preparation-time-card .section__title {
    font-family: 'Outfit', sans-serif;
    font-size: 1.1rem;
    color: var(--clr-rose-800);
    margin-block-end: 10px;
}

.card__section {
    margin-block-end: 5px;
}

.section__title {
    margin-block-end: 15px;
    font-family: 'Young Serif';
    color: var(--clr-brown-800);
}

.nutrition__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
    margin-block-end: 15px;
}

.nutrition-card .section__subtitle {
    font-size: 0.85rem;
    color: var(--clr-stone-600);
    margin-block-end: 10px;
} 

.nutrition__table tr {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--clr-stone-150);
    padding-block: 10px;
    padding-inline-start: 20px;
}

.nutrition__table tr:last-child {
    border-bottom: none;
}

.nutrition__table .label {
    width: 40%;
    text-align: left;
    color: var(--clr-stone-600);
    font-weight: 500;
}

.nutrition__table .value {
    width: 60%;
    text-align: left;
    color: var(--clr-brown-800);
    font-weight: 700;
}

@media(max-width: 768px) {
    body {
        padding-block: 0;
    }

    .food__recipe {
        width: 100%;
        border-radius: 0px;
        padding: 0;
    }

    .card__section,
    .card__title {
        padding-inline: 25px;
    }

    .preparation-time-card,
    .divider {
        margin-inline: 25px;
    }

    .img-wrapper img {
        border-radius: 0;
    }
}






